html{
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

#root {
  margin: 0px;
  height: 100%;
}
  
ol, ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.player {
  width: 80%;
  height:80%;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.circle {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 35%;
  width: 200px;
  height: 200px;
  background-color: green;
  border-radius: 50%;
}

.opponent {
  display: flex;
  position: absolute;
  top: 20%;
  left:30%;
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
}

.text {
  font-weight: bold;
  color: #FFF;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.game-info {
  margin-left: 20px;
}
